.header-section{
    margin-top: 50px;
}
.header-section h1{
    text-align: center;
    color: #2d3436;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 15px;
    font-style: oblique;
}
.container{
    padding: 55px 0px;
}
h4{
    color: #FF0000;
    padding: 6px 0px 0px 5px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: sans-serif;
    padding-top: 6px;
}
.btn a{
    text-decoration: none;
    color: black;
    font-weight:500;
}
.btn a:hover{
    color: white;
}
.btn:hover{
    background-color: blue;
}
