* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-fluid {
    height: 100vh;
    width: 100%;
    background: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page{
    background-color: white;
    border: 1px solid #008aff;
    width: 400px;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 20px;
}
.top-img{
    display: flex;
    text-align: center;
    justify-content: center;
}
.top-img img{
    width: 50px;
    margin: 15px;
    cursor: pointer;
}
.text h3{
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.text h3:hover{
    color: #008aff;
    transition: 0.3s ease;
}
form{
    padding-top: 20px;
    width: 85%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
}
form input{
    margin-bottom: 5px;
    border-color: 2px solid rgba(0,0,0,0.4);
    border-width: 0px 0px 2px;
    outline: none;
}
input[type="text"],input[type="password"]{
    height: 45px;
    background-color: aliceblue;
    font-size: 15px;
    position: relative;
    padding-left: 10px;
}
form input:focus{
    border-bottom: 2px solid #008aff;
    background-color: #efefef;
}
input:focus::placeholder {
    position: absolute;
    font-size: 12px;
    color: #008aff;
}
input::placeholder{
    font-weight: normal;
    font-size: 15px;
    transition: 0.3s ease;
}
form button{
    border: none;
    background-color: #008aff;
    padding: 5px 0px;
    color: white;
    border-radius: 50px;
    margin-top: 5px;
    font-weight: bold;
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
}
form button:hover{
    color: crimson;
    transition: 0.5s ease;
}
form button:active{
    background-color: crimson;
    transform: scale(0.995);
}
.forget-id a{
    text-decoration: none;
    color: #008aff;
    font-weight: bold;
}
.f-pws{
    text-align: center;
    display: flex;
    justify-content: center;
}
.f-pws:hover{
    color: crimson;
}
